@use "../general/" as g;
.btn {
  width: fit-content;
  padding: 2rem;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: keplerStd;
  font-weight: bold;
  transition: 200ms ease-in all;
  cursor: pointer;
  background-color: transparent;
  &.bright {
    border: solid g.$brightFont 4px;

    &:hover {
      color: g.$darkFont;
      background-color: g.$brightFont;
    }
  }
  &.dark {
    border: solid g.$darkFont 3px;
    color: g.$darkFont;
    text-transform: capitalize;
    &:hover {
      border: solid g.$brightFont 3px;
      color: g.$brightFont;
      background-color: g.$darkFont;
    }
  }
}
