@use "../general/" as g;
.contact {
  display: flex;
  flex-direction: column;
  gap: 8.6rem;
  .heading {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: g.$darkFont;
  }
  .content-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7.2rem;
    .text-con {
      display: flex;
      flex-direction: column;
      gap: 3.6rem;

      .socials {
        margin-left: 2rem;
        svg {
          fill: g.$darkFont;
        }
      }
      .contact-info {
        color: g.$darkFont;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h3 {
          text-transform: capitalize;
        }
        p {
          line-height: 23px;
        }
      }
      .slogan {
        h3 {
          color: g.$darkFont;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .contact {
    .content-con {
      margin: 0 3.2rem;
    }
  }
}
@media (max-width: 1040px) {
  .contact {
    .content-con {
      gap: 3.2rem;
      .text-con {
        .socials {
          justify-content: center;
        }
        .slogan {
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .contact {
    .content-con {
      grid-template-columns: 1fr;
      padding: 0 6rem;
      .text-con {
        .contact-info {
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 640px) {
  .contact {
    .content-con {
      padding: 0 3.2rem;
    }
  }
}
@media (max-width: 570px) {
  .contact {
    .heading {
      flex-direction: column;
      h2 {
        text-align: center;
      }
    }
    .content-con {
      padding: 0;
      margin: 2.4rem;
    }
  }
}
