@use "../general/" as g;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}
html {
  overflow-x: hidden;
  font-size: 56%;
}
h1 {
  font-family: keplerStd;
  font-size: 12.8rem;
}
h2 {
  font-family: keplerStd;
  font-size: 6.4rem;
}
h3 {
  font-family: keplerStd;
  font-size: 3.6rem;
}
p {
  font-size: 2rem;
  font-family: Guru;
}
body {
  background-color: g.$bgColor;
  overflow: hidden;
  font-family: guru;
  color: g.$brightFont;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  font-size: 2.8rem;
  font-family: KeplerStd;
}
a {
  text-decoration: none;
  font-size: 2.4rem;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
section {
  margin-bottom: 12.6rem;
}
